* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 168px;
}

.start__decor {
    position: absolute;
    z-index: -2;
    left: 391px;
    top: -82px;
}

.start__image {
    transform: translateX(156px);
}

.start__image-block {
    width: 100%;
    position: relative;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__link {
    font-size: 16px;
    font-weight: 700;
    color: #565656;
    transition: .3s;
}

.header__link:hover {
    transform: scale(1.05);
}

.header__link:active {
    transform: scale(0.95);
}

.start {
    display: flex;
    justify-content: space-between;
    padding-bottom: 463px;
}

.start__items {
    display: flex;
    flex-direction: column;
    gap: 37px;
    max-width: 523px;
}

.start__title {
    font-size: 48px;
}

.start__title-extra {
    color: #7421B0;
}

.start__text {
    color: #828282;
    font-size: 18px;
    max-width: 460px;
    line-height: 36px;
}

.start__button {
    border-radius: 5px;
    width: 235px;
    height: 70px;
    cursor: pointer;
    background: linear-gradient(144deg, #7421b0 20.65%, #d08eff 100%);
    color: #fff;
    text-align: center;
    transition: .3s;
    animation: glow 2s infinite;
}

.start__button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0 rgb(79, 40, 255);
}

.start__button:active {
    transform: scale(0.95);
}

.block {
    padding-bottom: 100px;
}

.block__items {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.block__header {
    display: flex;
    max-width: 1183px;
    gap: 139px;
}

.block__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #131313;
    width: 473px;
}

.block__title--extra {
    color: #7421B0;
}

.block__text {
    font-size: 18px;
    color: #828282;
    line-height: 36px;
    width: 571px;
}

.block__text--extra {
    color: #131313;;
}




.block__cards {
    display: flex;
    gap: 30px;
}

.block__card {
    flex: 1;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    color: #131313;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    transition: 0.3s;
}

.block__card:hover {
    transform: scale(1.1);
}

.block__card--extra {
    background-color: #7421B0;
    color: #fff;
}

.block__description {
    margin-top: 40px;
}
 
.start__image {
    max-width: 100%;
}

.start__decor-up {
    width: 282px;
    height: 108px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(40px);
    background: rgba(196, 196, 196, 0.1);
    position: absolute;
    left: 520px;
    top: 444px;
    z-index: 1;
    animation: animation-decor 2s infinite;
}

.decor-up__text {
    width: 180px;
    height: 52px;
    margin: 26px 51px;
    line-height: 160%;
}

.header::after {
    content: "";
    background-image: url(./assets/DecorativeLine.png);
    width: 1920px;
    height: 968px;
    top: 98px;
    left: 0;
    position: absolute;
    z-index: -1;
    /* animation: move 3s infinite; */
}

.header::before {
    content: "";
    background-image: url(./assets/Glossy\ .png);
    width: 253px;
    height: 253px;
    top: 45px;
    left: -100px;
    position: absolute;
    animation: rotate 8s infinite linear;
}

.header__burger-menu {
    display: none;
}

@keyframes animation-decor {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 20px 0 rgb(156, 0, 151, 0);
    }
    50% {
        box-shadow: 0px 0px 20px 0 rgb(16, 4, 251);
    }
    100% {
        box-shadow: 0px 0px 20px 0 rgba(4, 4, 255, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes move {
        0% {
            transform: translateX(10px);
        }
        50% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(10px);
        }
}


@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 15px;
        padding-bottom: 126px;
    }

    .header__menu {
        display: none;
    }

    .block__cards {
        flex-direction: column;
    }

    .start {
        flex-direction: column-reverse;
    }
    
    .header__logo {
        width: 141px;
        height: 22px;
    }
    
    .header__burger-menu {
        display: block;
    }
    
    .header {
        padding-top: 29px;
        padding-bottom: 59px;
    }
    
    .header::before {
        display: none;
    }
    
    .start__image {
        transform: none;
    }
    
    .start__title {
        font-size: 24px;
        text-align: center;
        width: 261px;
    }
    
    .start__text {
        font-size: 12px;
        line-height: 180%;
        text-align: center;
        width: 250px;
    }
    
    .start__button {
        font-size: 12px;
        width: 170px;
        height: 44px;
    }
    
    .start__items {
        padding-top: 126px;
        align-items: center;
        gap: 22px;
    }

    .block__header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .block__card {
        display: flex;
        gap: 55px;
        padding: 26px 52px;
        align-items: center;
    }

    .block__cards {
        gap: 20px;
    }

    .block__description {
        font-size: 14px;
        line-height: 133%;
        margin-top: 0px;
    }

    .block__img {
        width: 40px;
        height: 40px;
    }

    .block__text {
        font-size: 12px;
        text-align: center;
        line-height: 200%;
        width: 306px;
    }

    .block__title {
        font-size: 20px;
        width: 263px;
        text-align: center;
        line-height: 140%;
    }

    .block__items {
        gap: 20px;
    }

    .block {
        padding-bottom: 60px;
    }

    .header::after {
        width: 375px;
        height: 968px;
        top: -561px;
        left: 0px;
    }

    .start__decor {
        display: none;
    }

    .start__image-block::after {
        content: "";
        background-image: url(./assets/Rectangle-mob.png);
        width: 340px;
        height: 299px;
        left: 51px;
        top: -34px;
        position: absolute;
        z-index: -2;
    }

    .start__decor-up {
        width: 186px;
        height: 67px;
        font-size: 12px;
        left: 84px;
        top: 157px;
        backdrop-filter: blur(20.019176483154297px);
        background: rgba(196, 196, 196, 0.1);
    }

    .decor-up__text {
        margin: 15px 25px;
        width: 140px;
    }
